.invisible {
  visibility: hidden;
}

h3 {
  margin-top: 2rem;
}

input[type="button"] {
  margin-bottom: 0;
  background-color: #016d95;
  color: #fff;
  cursor: pointer;
  border: none;
}

body {
  background-color: #8AA6A3;
}

.ADD {
  margin-bottom: 0;
  color: #fff;
}

.ADD input[type="button"] {
  cursor: pointer;
  border: none;
}

.ADD input[type="button"]:hover {
  background-color: #016d95;
}

.ADD input[type="button"]:active {
  background-color: #016d95;
}

.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
